<div class="first-button">
    <button mat-raised-button color="primary" 
    style="width: 400px; height: 100px;">
        Crear Anuncio
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="main-content">
    <mat-card class="card" *ngFor="let item of announcementList">
        <mat-card-header class="header">
            <mat-card-subtitle style="color: white">
                {{item.timestamp.toDate() | date }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
            <p>{{item.title}}</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button (click)="viewAnnouncementBody(item)">ver anuncio completo</button>
        </mat-card-actions>
    </mat-card>
</div>
