<div class="first-button">
    <button mat-raised-button color="primary" 
    style="width: 400px; height: 100px;">
        Crear Anuncio
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="main-content">
    <mat-card class="card">
        <mat-card-header class="header">
            <h6 style="color: white">29 de febrero</h6>
        </mat-card-header>
        <mat-card-content class="content">
            <p>Titulo</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button>ver anuncio completo</button>
        </mat-card-actions>
    </mat-card>
</div>
