<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Tipo de Contacto</mat-label>
        <mat-select [(ngModel)]="typeOfContact" (selectionChange)="changeType($event)">
            <mat-option value="emergency">Contacto de emergencia</mat-option>
            <mat-option value="others">Otro</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="typeOfContact === 'emergency'">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="nameEmerg">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="number" [(ngModel)]="phoneEmerg">
        </mat-form-field>  
    </div>

    <div *ngIf="typeOfContact === 'others'">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="nameOther">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" [(ngModel)]="description">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="number" [(ngModel)]="phoneOther">
        </mat-form-field>  
    </div>
    <br>
    <p style="color: red;" *ngIf="showError">Te falta información</p>
    <footer>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cerrar</button>
            <button mat-button mat-flat-button color="accent" (click)="addEmergencyContact()" *ngIf="typeOfContact === 'emergency'">Confirmar</button>
            <button mat-button mat-flat-button color="accent" (click)="addOtherContact()" *ngIf="typeOfContact === 'others'">Confirmar</button>
        </div>
    </footer>
    
</div>
