<mat-sidenav-container class="chat-sidebar-container">
    <!-- left side menu -->
    <mat-sidenav opened mode="side">
        <div>
            <h6>Salas de Chat</h6>
            <div *ngFor="let room of chatRooms">
                <mat-card>
                    <mat-card-header  [class.highlighted]="currentRoomData.id === room.roomId" (click)="getMessagesFromRoom(room)">
                        <mat-card-title>{{room.roomName}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
  
        </div>
        
        <div>
            <h6>Mensajes Directos</h6>
            <mat-card>Simple card</mat-card>
        </div>

        <div>
            <button mat-fab color="accent" (click)="addChatRoom()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <!-- right side menu -->
    <mat-sidenav opened mode="side" position="end">
        <h3><b>#{{currentRoomData.name}}</b></h3>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Descripción</mat-card-title>
                    <mat-card-subtitle>{{currentRoomData.description}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
        <h5>Participantes de <b>#{{currentRoomData.name}}</b></h5>
        <div>
            <mat-card>
                <mat-card-content *ngFor="let participant of currentRoomParticipants">
                    <p>
                    {{participant.name}} {{participant.lastname}}({{participant.property}})
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <button mat-raised-button color="warn" (click)="deleteChatRoom()">Eliminar #{{currentRoomData.name}}</button>
       
    </mat-sidenav>
    <!-- chat messages layout -->
    <div *ngIf="chatMessages.length > 0">
        <mat-card class="message-card" *ngFor="let message of chatMessages">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>{{message.name}} {{message.lastname}}</mat-card-title>
                <mat-card-subtitle>{{message.timestamp}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                {{message.msg}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="chatMessages.length === 0">
        <mat-card class="message-card">
            <mat-card-content>
                <p>
                Aún no hay mensajes en esta sala
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- end of chat messages layout -->

    <mat-card class="message-card">
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="currentMessage">
            </mat-form-field>
        
            <mat-button-toggle (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </mat-button-toggle>
        
        </mat-card-content>
    </mat-card>
</mat-sidenav-container>