.chat-sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-card {
  max-width: 700px;
}

.highlighted {
  background-color: #2196f3;
}