<mat-sidenav-container class="chat-sidebar-container">
    <mat-sidenav opened mode="side">
        <div>
            <h6>Salas de Chat</h6>
            <div *ngFor="let room of chatRooms">
                <mat-card>
                    <mat-card-header (click)="getMessagesFromRoom(room)">
                        <mat-card-title>{{room.roomName}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
  
        </div>
        
        <div>
            <h6>Mensajes Directos</h6>
            <mat-card>Simple card</mat-card>
        </div>

        <div>
            <button mat-fab color="accent" (click)="addChatRoom()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end">caracteristicas de sala</mat-sidenav>
    <!-- chat messages layout -->
    <div *ngIf="chatMessages.length > 0">
        <mat-card class="message-card" *ngFor="let message of chatMessages">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>{{message.name}} {{message.lastname}}</mat-card-title>
                <mat-card-subtitle>{{message.timestamp}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                {{message.msg}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="chatMessages.length === 0">
        <mat-card class="message-card">
            <mat-card-content>
                <p>
                Aún no hay mensajes en esta sala
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- end of chat messages layout -->

    <mat-card class="message-card">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <textarea matInput></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</mat-sidenav-container>