<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrate</mat-card-title>
      </mat-card-header>
  
      
    <mat-card-content>
        <form class="example-form" [formGroup]="form" (ngSubmit)="signUp($event)">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre del Edificio</mat-label>
                <input matInput type="text" formControlName="buildingName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Dirección del Edificio</mat-label>
                <input matInput type="text"  placeholder="Ej. Carrera 1 # 2 - 3" formControlName="buildingAddr">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Nombre del Administrador Actual</mat-label>
                <input matInput type="text" formControlName="adminName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>No. de Documento del Administrador Actual</mat-label>
                <input matInput type="number" formControlName="adminId">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email de administración</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-hint *ngIf="!form.get('password').valid">Contraseña de <strong>mínimo 6 caracteres</strong></mat-hint>
            </mat-form-field>

            <button mat-stroked-button [disabled]="form.invalid" color="accent" class="btn-block">Resgitrarme</button>
        </form>
    </mat-card-content>
        

      <p>¿Ya tienes cuenta? <a [routerLink]="['/auth', 'login']"><span style="color:primary">Inicia Sesión</span></a></p>

    </mat-card>
  
  </div>